s*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing:border-box; 
}

body{
	background: #0b2027;
	font-family: 'Lato', sans-serif;
	line-height: 18px;
}

#contenedor-menu{
	margin: auto;
	width: 65%;
	font-family: 'Lato', sans-serif;
	line-height: 18px;
}

ul{
	list-style: none;
}

.menu li a{
	background: #1a95d5;
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	display: block; 
	border-radius: 5px;
}

.menu >li{
	float: left;
}

.menu li a:hover {
	background: #4e04ab;

}

.menu li ul {
	display: none;
	position: fixed;
}

.menu li:hover > ul{
	display: block;
}

.icono {
    margin-right: 10px;
    font-size: 20px;
    float: left;
}

.iconoDer {
    margin-left: 10px;
    font-size: 20px;
    float: right;
}

.circulo {
    position: absolute;
    width: 100px;
    height: 50px;
    top:0px;
    right: 0px;
    border-radius: 50%;
    background-color: transparent;
    margin-left: auto;
    display: block;
}

.circulo img {
  width: 100%;
  height: auto;
  border-radius:50%;
  border: solid black;
  margin-left:auto;
}

.contenedor-central {
    display: block;
    margin: 10px 10px;
    border:1px;
}

#marco{
	width: 100%;
	height: 900px;
	margin: 50px 0px;
	border:none;
	background: transparent;
}

.submenu:hover {
    font-size: 25px;
}

.submenu:hover .icono{
    font-size: 27px;
}

.submenu:hover .iconoDer{
    font-size: 27px;
}

.submenu:hover > ul{
	font-size: 18px;
}