s*{
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing:border-box; 
}

body{
	background: #0b2027;
	font-family: 'Lato', sans-serif;
	line-height: 14px;
}

.formulario{
	width: 30%;
	padding:50px;
	margin-top: auto;
	color: white;
}

.campo{
	width: 100%;
	padding: 10px;
	font-family: 'Lato', sans-serif;
	line-height: 14px;
	border-radius: 5px;
	border-bottom: 20px;
	border: 3px solid black;
}

.boton{
	width: 20%;
	background: #1a95d5;
	color: #fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 15px 20px;
	display: block; 
	border-radius: 5px;
	text-align: center;
	margin: 5px;
}
.boton:hover{
	background: #4e04ab;
}